@media screen and (max-width: 992px) {
  main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-top: 5em;
    background: #fffdff;
    position: relative;
    z-index: 10;
  }
  main .hero {
    width: 100%;
    height: calc(100vh - 5em);
    position: relative;
    pointer-events: none;
    /*
            
            .container{
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                position: relative;

                

                video{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .text-box{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .jr{
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-items: center;
                        text-align: center;

                        h2{
                            width: 100%;
                            height: 100%;
                            background: #000;
                            color: #fff;
                            mix-blend-mode: multiply;
                        }
                    }
                }
            }
            */
  }
  main .hero .container {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .hero .container video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  main .hero .container .one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #fffdff;
    color: #111111;
    mix-blend-mode: screen;
  }
  main .hero .container .one h2 {
    margin-right: 1em;
    font-family: "comforter";
    font-size: 25rem;
    font-weight: bold;
  }
  main .hero .container .one img {
    width: 80%;
    height: auto;
    margin-top: 15%;
  }
  main .hero .container .two {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    mix-blend-mode: normal;
    width: 80%;
    z-index: 10;
  }
  main .hero .container .two h3 {
    font-family: "open sans";
    font-weight: 800;
    font-size: 1rem;
    color: #ff2828;
  }
  main .hero .container .two p {
    font-family: "open sans";
    font-weight: bold;
    font-size: 2rem;
    color: #111111;
  }
  main .hero .container .two p:nth-child(1) {
    text-align: center;
  }
  main .hero div.scrollDown {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    bottom: 15%;
    left: 50%;
    z-index: 10100;
    opacity: 0;
    -webkit-transform: translateY(-20%) translateX(-50%);
            transform: translateY(-20%) translateX(-50%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: all;
  }
  main .hero div.scrollDown i {
    font-size: 3rem;
    -webkit-text-stroke: 2px #fffdff;
    color: #111111;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  main .hero div.scrollDown:hover i {
    color: #ff2828;
  }
  main .hero .textBox {
    width: 100%;
    height: 80%;
    padding: 2em;
    margin-bottom: 2em;
    position: absolute;
    z-index: -20;
    display: -ms-grid;
    display: grid;
    place-items: center;
    pointer-events: all;
    /*
                h2{
                    text-align: center;
                    font-size: 3rem;
                    font-family: "open sans";
                    font-weight: 800;
                }
    
                div{
                    width: fit-content;
                    height: fit-content;
                    position: absolute;
                    bottom: -5%;
                    z-index: 10;
                    opacity: 0;
                    transform: translateY(-20%);
                    transition: all 0.5s ease;
    
                    i{
                        font-size: 3rem;
                        -webkit-text-stroke: 2px $white;
        
                        transition: 0.5s ease;
                    }
    
                    &:hover i{
                        color: $red;
                    }
                }
    
    
        
                p{
                    font-family: "inter";
                    font-size: 9rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    line-height: 11rem;
                    letter-spacing: .05rem;
                }
        
                p:nth-child(2){
                    text-align: right;
                }
        
                p:nth-child(3){
                    text-align: center;
                }

                */
  }
  .main-section {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 100;
  }
  .main-section .img-text {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 1em;
    background: #111111;
    position: relative;
  }
  .main-section .img-text .shadow {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    background: #111111;
    -webkit-box-shadow: 0px -5px 25px 5px rgba(0, 0, 0, 0.7);
            box-shadow: 0px -5px 25px 5px rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  .main-section .img-text img {
    width: calc(100% - 2em) !important;
    position: absolute;
    display: none;
  }
  .main-section .img-text .text {
    color: #fffdff;
    width: 100%;
    padding: 2em 1em 2.5em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 15;
    background: rgba(17, 17, 17, 0.8);
  }
  .main-section .img-text .text h2 {
    font-size: 2rem;
    font-family: "open sans";
    font-weight: 800;
  }
  .main-section .img-text .text p {
    font-size: 1rem;
    font-family: "montserrat";
    line-height: 1.5;
  }
  .main-section .img-text .text p:nth-child(2) {
    margin-bottom: 4em;
  }
  .main-section .fader {
    height: 20vh;
    width: 100%;
    position: relative;
    margin-top: -2px;
    -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
    margin-bottom: 5em;
    overflow: hidden;
    z-index: -1;
  }
  .main-section .fader div {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .main-section .fader div:nth-child(1) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
    background: #111111;
    z-index: 50;
    top: -1px;
  }
  .main-section .fader div:nth-child(2) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    background: #666666;
    z-index: 40;
    bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-top: 5em;
    background: #fffdff;
    position: relative;
    z-index: 10;
  }
  main .hero {
    width: 100%;
    height: calc(100vh - 5em);
    position: relative;
    pointer-events: none;
    /*
            
            .container{
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                position: relative;

                

                video{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .text-box{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .jr{
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-items: center;
                        text-align: center;

                        h2{
                            width: 100%;
                            height: 100%;
                            background: #000;
                            color: #fff;
                            mix-blend-mode: multiply;
                        }
                    }
                }
            }
            */
  }
  main .hero .container {
    width: 80%;
    height: 80%;
    position: relative;
  }
  main .hero .container video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  main .hero .container .one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #fffdff;
    color: #111111;
    mix-blend-mode: screen;
  }
  main .hero .container .one h2 {
    margin-right: 1em;
    font-family: "comforter";
    font-size: 25rem;
    font-weight: bold;
  }
  main .hero .container .one img {
    width: 30em;
    height: auto;
  }
  main .hero .container .two {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    mix-blend-mode: normal;
    width: 30em;
    margin-left: 25em;
  }
  main .hero .container .two h3 {
    font-family: "open sans";
    font-weight: 800;
    font-size: 2rem;
    color: #ff2828;
  }
  main .hero .container .two p {
    font-family: "open sans";
    font-weight: bold;
    font-size: 4rem;
    color: #111111;
  }
  main .hero .container .two p:nth-child(1) {
    text-align: center;
  }
  main .hero div.scrollDown {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 10100;
    opacity: 0;
    -webkit-transform: translateY(-20%) translateX(-50%);
            transform: translateY(-20%) translateX(-50%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: all;
  }
  main .hero div.scrollDown i {
    font-size: 3rem;
    -webkit-text-stroke: 2px #fffdff;
    color: #111111;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  main .hero div.scrollDown:hover i {
    color: #ff2828;
  }
  main .hero .textBox {
    width: 100%;
    height: 80%;
    padding: 2em;
    margin-bottom: 2em;
    position: absolute;
    z-index: -20;
    display: -ms-grid;
    display: grid;
    place-items: center;
    pointer-events: all;
    /*
                h2{
                    text-align: center;
                    font-size: 3rem;
                    font-family: "open sans";
                    font-weight: 800;
                }
    
                div{
                    width: fit-content;
                    height: fit-content;
                    position: absolute;
                    bottom: -5%;
                    z-index: 10;
                    opacity: 0;
                    transform: translateY(-20%);
                    transition: all 0.5s ease;
    
                    i{
                        font-size: 3rem;
                        -webkit-text-stroke: 2px $white;
        
                        transition: 0.5s ease;
                    }
    
                    &:hover i{
                        color: $red;
                    }
                }
    
    
        
                p{
                    font-family: "inter";
                    font-size: 9rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    line-height: 11rem;
                    letter-spacing: .05rem;
                }
        
                p:nth-child(2){
                    text-align: right;
                }
        
                p:nth-child(3){
                    text-align: center;
                }

                */
  }
  main .main-section {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 100;
  }
  main .main-section .img-text {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4em;
    background: #111111;
    position: relative;
  }
  main .main-section .img-text .shadow {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    background: #111111;
    -webkit-box-shadow: 0px -5px 25px 5px rgba(0, 0, 0, 0.7);
            box-shadow: 0px -5px 25px 5px rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  main .main-section .img-text img {
    width: 30%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1630px) {
  main .main-section .img-text img {
    width: 40%;
  }
  main .main-section .img-text .text {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  main .main-section .img-text .text {
    color: #fffdff;
    width: 40%;
    padding: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-section .img-text .text h2 {
    font-size: 3rem;
    font-family: "open sans";
    font-weight: 800;
  }
  main .main-section .img-text .text p {
    font-size: 1.5rem;
    font-family: "montserrat";
    line-height: 1.5;
  }
  main .main-section .img-text .text p:nth-child(2) {
    margin-bottom: 4em;
  }
  main .main-section .fader {
    height: 20vh;
    width: 100%;
    position: relative;
    margin-top: -2px;
    -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
    margin-bottom: 5em;
    overflow: hidden;
    z-index: -1;
  }
  main .main-section .fader div {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  main .main-section .fader div:nth-child(1) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
    background: #111111;
    z-index: 50;
    top: -1px;
  }
  main .main-section .fader div:nth-child(2) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    background: #666666;
    z-index: 40;
    bottom: 0;
  }
}

.animate {
  -webkit-transform: translateY(0) translateX(-50%) !important;
          transform: translateY(0) translateX(-50%) !important;
  opacity: 1 !important;
}
/*# sourceMappingURL=main.css.map */