@import "variables";
/* width */
::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $white;
    mix-blend-mode: difference; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $dark; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.progress-bar{
    width: 5px;
    height: 100vh;
    position: fixed;
    right: 0;
    background: black;
    mix-blend-mode: difference;
    z-index: 9999999999999999999;
    border: none;
    outline: none;
    visibility: hidden;

    #scrollbar{
        width: 100%;
        background: $white;
        mix-blend-mode: difference;
        visibility: visible;
    }
}