@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@media screen and (max-width: 992px) {
  .preloader {
    content: "";
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation: slideOut 2s linear;
            animation: slideOut 2s linear;
    visibility: hidden;
    z-index: 99999999999;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .preloader h1 {
    color: white;
    font-size: 5rem;
  }
  .preloader img {
    width: 80%;
    height: auto;
    margin-bottom: calc(20% + 2 * 16px);
  }
}

@media screen and (min-width: 992px) {
  .preloader {
    content: "";
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation: slideOut 2s linear;
            animation: slideOut 2s linear;
    visibility: hidden;
    z-index: 99999999999;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .preloader h1 {
    color: white;
    font-size: 5rem;
  }
  .preloader img {
    width: 10%;
    height: auto;
  }
}

@-webkit-keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.bounceout {
  -webkit-animation: slideIn 1s ease;
          animation: slideIn 1s ease;
}

@-webkit-keyframes slideOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  75% {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  75% {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.slideAnimation {
  opacity: 1 !important;
}

.slide {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffdff;
  mix-blend-mode: difference;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.progress-bar {
  width: 5px;
  height: 100vh;
  position: fixed;
  right: 0;
  background: black;
  mix-blend-mode: difference;
  z-index: 9999999999999999999;
  border: none;
  outline: none;
  visibility: hidden;
}

.progress-bar #scrollbar {
  width: 100%;
  background: #fffdff;
  mix-blend-mode: difference;
  visibility: visible;
}

@media screen and (max-width: 992px) {
  header {
    width: 100%;
    height: 5em;
    background: #fffdff;
    padding: 0 1em;
    position: fixed;
    top: 0;
    z-index: 999999999;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  header .header-inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #111111;
  }
  header .header-inner .logo {
    /*width: fit-content;
                height: fit-content;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .header-inner .logo a {
    font-size: 2.5rem;
    color: #111111;
    text-decoration: none;
  }
  header .header-inner .logo img {
    height: 80%;
    width: auto;
  }
  header .header-inner .menu {
    top: 5em;
    left: 0;
    width: 100%;
    height: calc(100vh - 5em);
    background: #fffdff;
    padding: 2em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  header .header-inner .menu.open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  header .header-inner .menu.dark a {
    color: #111111;
  }
  header .header-inner .menu ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none;
  }
  header .header-inner .menu ul li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1em 0;
  }
  header .header-inner .menu ul li a {
    font-size: 2rem;
    font-family: "montserrat";
    font-weight: 400;
    color: #111111;
    text-decoration: none;
  }
  header .header-inner .burger {
    width: 2.5em;
    height: 2.5em;
    background: none;
    outline: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
  }
  header .header-inner .burger.open span {
    position: absolute;
    top: 50% !important;
  }
  header .header-inner .burger.open span:nth-child(1) {
    width: 100% !important;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .header-inner .burger.open span:nth-child(2) {
    opacity: 0;
  }
  header .header-inner .burger.open span:nth-child(3) {
    width: 100% !important;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header .header-inner .burger span {
    width: 100%;
    height: 2px;
    background: #111111;
    border-radius: 5em;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
  }
  header .header-inner .burger span:nth-child(1) {
    width: 50% !important;
    top: 0;
  }
  header .header-inner .burger span:nth-child(3) {
    width: 50% !important;
    bottom: 0;
    right: 0;
  }
  .dark img.light-logo {
    display: block !important;
  }
  .dark img.dark-logo {
    display: none;
  }
  .light-logo {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100%;
    height: 5em;
    padding: 0 2em;
    position: fixed;
    top: 0;
    background: #fffdff;
    background-blend-mode: color-burn;
    z-index: 99999999;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  header .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #111111;
  }
  header .header-inner .logo {
    height: 100%;
    font-family: Comforter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-inner .logo a {
    color: #111111;
    text-decoration: none;
    font-size: 2.5rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  header .header-inner .logo:hover a {
    color: #ff2828 !important;
  }
  header .header-inner .logo img {
    width: auto;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .header-inner .burger {
    display: none;
  }
  header .header-inner .menu {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .header-inner .menu ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .header-inner .menu ul li {
    margin: 0 1em 0 0;
    font-family: montserrat;
    font-size: 1.25rem;
    position: relative;
    overflow: hidden;
  }
  header .header-inner .menu ul li:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    left: -100%;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background: #111111;
  }
  header .header-inner .menu ul li:hover:after {
    background: #ff2828;
    left: 0;
  }
  header .header-inner .menu ul li a {
    text-decoration: none;
    color: #111111;
    font-weight: 400;
  }
  .dark img.light-logo {
    display: block !important;
  }
  .dark img.dark-logo {
    display: none;
  }
  .light-logo {
    display: none;
  }
}

.dark {
  background: #111111 !important;
}

.dark .header-inner {
  border-color: #fffdff !important;
}

.dark .header-inner .logo a {
  color: #fffdff !important;
}

@media screen and (max-width: 992px) {
  .dark .header-inner .menu {
    background: #111111;
  }
}

.dark .header-inner .menu a {
  color: #fffdff !important;
}

.dark .header-inner .burger span {
  background: #fffdff !important;
}

@media screen and (max-width: 992px) {
  main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-top: 5em;
    background: #fffdff;
    position: relative;
    z-index: 10;
  }
  main .hero {
    width: 100%;
    height: calc(100vh - 5em);
    position: relative;
    pointer-events: none;
    /*
            
            .container{
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                position: relative;

                

                video{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .text-box{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .jr{
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-items: center;
                        text-align: center;

                        h2{
                            width: 100%;
                            height: 100%;
                            background: #000;
                            color: #fff;
                            mix-blend-mode: multiply;
                        }
                    }
                }
            }
            */
  }
  main .hero .container {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .hero .container video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  main .hero .container .one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #fffdff;
    color: #111111;
    mix-blend-mode: screen;
  }
  main .hero .container .one h2 {
    margin-right: 1em;
    font-family: "comforter";
    font-size: 25rem;
    font-weight: bold;
  }
  main .hero .container .one img {
    width: 80%;
    height: auto;
    margin-top: 15%;
  }
  main .hero .container .two {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    mix-blend-mode: normal;
    width: 80%;
    z-index: 10;
  }
  main .hero .container .two h3 {
    font-family: "open sans";
    font-weight: 800;
    font-size: 1rem;
    color: #ff2828;
  }
  main .hero .container .two p {
    font-family: "open sans";
    font-weight: bold;
    font-size: 2rem;
    color: #111111;
  }
  main .hero .container .two p:nth-child(1) {
    text-align: center;
  }
  main .hero div.scrollDown {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    bottom: 15%;
    left: 50%;
    z-index: 10100;
    opacity: 0;
    -webkit-transform: translateY(-20%) translateX(-50%);
            transform: translateY(-20%) translateX(-50%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: all;
  }
  main .hero div.scrollDown i {
    font-size: 3rem;
    -webkit-text-stroke: 2px #fffdff;
    color: #111111;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  main .hero div.scrollDown:hover i {
    color: #ff2828;
  }
  main .hero .textBox {
    width: 100%;
    height: 80%;
    padding: 2em;
    margin-bottom: 2em;
    position: absolute;
    z-index: -20;
    display: -ms-grid;
    display: grid;
    place-items: center;
    pointer-events: all;
    /*
                h2{
                    text-align: center;
                    font-size: 3rem;
                    font-family: "open sans";
                    font-weight: 800;
                }
    
                div{
                    width: fit-content;
                    height: fit-content;
                    position: absolute;
                    bottom: -5%;
                    z-index: 10;
                    opacity: 0;
                    transform: translateY(-20%);
                    transition: all 0.5s ease;
    
                    i{
                        font-size: 3rem;
                        -webkit-text-stroke: 2px $white;
        
                        transition: 0.5s ease;
                    }
    
                    &:hover i{
                        color: $red;
                    }
                }
    
    
        
                p{
                    font-family: "inter";
                    font-size: 9rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    line-height: 11rem;
                    letter-spacing: .05rem;
                }
        
                p:nth-child(2){
                    text-align: right;
                }
        
                p:nth-child(3){
                    text-align: center;
                }

                */
  }
  .main-section {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 100;
  }
  .main-section .img-text {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 1em;
    background: #111111;
    position: relative;
  }
  .main-section .img-text .shadow {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    background: #111111;
    -webkit-box-shadow: 0px -5px 25px 5px rgba(0, 0, 0, 0.7);
            box-shadow: 0px -5px 25px 5px rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  .main-section .img-text img {
    width: calc(100% - 2em) !important;
    position: absolute;
    display: none;
  }
  .main-section .img-text .text {
    color: #fffdff;
    width: 100%;
    padding: 2em 1em 2.5em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 15;
    background: rgba(17, 17, 17, 0.8);
  }
  .main-section .img-text .text h2 {
    font-size: 2rem;
    font-family: "open sans";
    font-weight: 800;
  }
  .main-section .img-text .text p {
    font-size: 1rem;
    font-family: "montserrat";
    line-height: 1.5;
  }
  .main-section .img-text .text p:nth-child(2) {
    margin-bottom: 4em;
  }
  .main-section .fader {
    height: 20vh;
    width: 100%;
    position: relative;
    margin-top: -2px;
    -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
    margin-bottom: 5em;
    overflow: hidden;
    z-index: -1;
  }
  .main-section .fader div {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .main-section .fader div:nth-child(1) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
    background: #111111;
    z-index: 50;
    top: -1px;
  }
  .main-section .fader div:nth-child(2) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    background: #666666;
    z-index: 40;
    bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-top: 5em;
    background: #fffdff;
    position: relative;
    z-index: 10;
  }
  main .hero {
    width: 100%;
    height: calc(100vh - 5em);
    position: relative;
    pointer-events: none;
    /*
            
            .container{
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                position: relative;

                

                video{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .text-box{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .jr{
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-items: center;
                        text-align: center;

                        h2{
                            width: 100%;
                            height: 100%;
                            background: #000;
                            color: #fff;
                            mix-blend-mode: multiply;
                        }
                    }
                }
            }
            */
  }
  main .hero .container {
    width: 80%;
    height: 80%;
    position: relative;
  }
  main .hero .container video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  main .hero .container .one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #fffdff;
    color: #111111;
    mix-blend-mode: screen;
  }
  main .hero .container .one h2 {
    margin-right: 1em;
    font-family: "comforter";
    font-size: 25rem;
    font-weight: bold;
  }
  main .hero .container .one img {
    width: 30em;
    height: auto;
  }
  main .hero .container .two {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    mix-blend-mode: normal;
    width: 30em;
    margin-left: 25em;
  }
  main .hero .container .two h3 {
    font-family: "open sans";
    font-weight: 800;
    font-size: 2rem;
    color: #ff2828;
  }
  main .hero .container .two p {
    font-family: "open sans";
    font-weight: bold;
    font-size: 4rem;
    color: #111111;
  }
  main .hero .container .two p:nth-child(1) {
    text-align: center;
  }
  main .hero div.scrollDown {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 10100;
    opacity: 0;
    -webkit-transform: translateY(-20%) translateX(-50%);
            transform: translateY(-20%) translateX(-50%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: all;
  }
  main .hero div.scrollDown i {
    font-size: 3rem;
    -webkit-text-stroke: 2px #fffdff;
    color: #111111;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  main .hero div.scrollDown:hover i {
    color: #ff2828;
  }
  main .hero .textBox {
    width: 100%;
    height: 80%;
    padding: 2em;
    margin-bottom: 2em;
    position: absolute;
    z-index: -20;
    display: -ms-grid;
    display: grid;
    place-items: center;
    pointer-events: all;
    /*
                h2{
                    text-align: center;
                    font-size: 3rem;
                    font-family: "open sans";
                    font-weight: 800;
                }
    
                div{
                    width: fit-content;
                    height: fit-content;
                    position: absolute;
                    bottom: -5%;
                    z-index: 10;
                    opacity: 0;
                    transform: translateY(-20%);
                    transition: all 0.5s ease;
    
                    i{
                        font-size: 3rem;
                        -webkit-text-stroke: 2px $white;
        
                        transition: 0.5s ease;
                    }
    
                    &:hover i{
                        color: $red;
                    }
                }
    
    
        
                p{
                    font-family: "inter";
                    font-size: 9rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    line-height: 11rem;
                    letter-spacing: .05rem;
                }
        
                p:nth-child(2){
                    text-align: right;
                }
        
                p:nth-child(3){
                    text-align: center;
                }

                */
  }
  main .main-section {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 100;
  }
  main .main-section .img-text {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4em;
    background: #111111;
    position: relative;
  }
  main .main-section .img-text .shadow {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    background: #111111;
    -webkit-box-shadow: 0px -5px 25px 5px rgba(0, 0, 0, 0.7);
            box-shadow: 0px -5px 25px 5px rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  main .main-section .img-text img {
    width: 30%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1630px) {
  main .main-section .img-text img {
    width: 40%;
  }
  main .main-section .img-text .text {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  main .main-section .img-text .text {
    color: #fffdff;
    width: 40%;
    padding: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-section .img-text .text h2 {
    font-size: 3rem;
    font-family: "open sans";
    font-weight: 800;
  }
  main .main-section .img-text .text p {
    font-size: 1.5rem;
    font-family: "montserrat";
    line-height: 1.5;
  }
  main .main-section .img-text .text p:nth-child(2) {
    margin-bottom: 4em;
  }
  main .main-section .fader {
    height: 20vh;
    width: 100%;
    position: relative;
    margin-top: -2px;
    -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
    margin-bottom: 5em;
    overflow: hidden;
    z-index: -1;
  }
  main .main-section .fader div {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  main .main-section .fader div:nth-child(1) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
    background: #111111;
    z-index: 50;
    top: -1px;
  }
  main .main-section .fader div:nth-child(2) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    background: #666666;
    z-index: 40;
    bottom: 0;
  }
}

.animate {
  -webkit-transform: translateY(0) translateX(-50%) !important;
          transform: translateY(0) translateX(-50%) !important;
  opacity: 1 !important;
}

@media screen and (max-width: 992px) {
  .tilt {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 2em;
    background: #fffdff;
    position: relative;
    z-index: 10;
    padding: 3em 0 5em 0;
  }
  .tilt .tilt-inner {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tilt .tilt-inner .option {
    width: 90%;
    height: 70vh;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-decoration: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
            box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
    margin: 2em 0;
  }
  .tilt .tilt-inner .option .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .tilt .tilt-inner .option:hover .desc {
    z-index: 60;
  }
  .tilt .tilt-inner .option:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
  }
  .tilt .tilt-inner .option:nth-child(1) .img {
    background-image: url(../img/pexels-cottonbro-4107120s.jpg);
  }
  .tilt .tilt-inner .option:nth-child(2) {
    margin: 0 2em;
  }
  .tilt .tilt-inner .option:nth-child(2) .img {
    background-image: url(../img/pexels-ketut-subiyanto-4247770s.jpg);
  }
  .tilt .tilt-inner .option:nth-child(3) .img {
    background-image: url(../img/pexels-athena-2582937s.jpg);
  }
  .tilt .tilt-inner .option .desc {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(17, 17, 17, 0.8);
    padding: 2em;
  }
  .tilt .tilt-inner .option .desc h4 {
    font-size: 3rem;
    font-family: "open sans";
    font-weight: 300;
    z-index: 20;
    color: #fffdff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .tilt .tilt-inner .option .desc p {
    font-size: 1rem;
    font-family: "open sans";
    font-weight: 400;
    color: #fffdff;
  }
  .tilt .tilt-inner .option .desc button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #00000000;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #111111;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    transition: box-shadow .2s,-webkit-transform .1s,transform .1s;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  .tilt .tilt-inner .option .desc button:focus-visible {
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
  }
  .tilt .tilt-inner .option .desc button:active {
    background-color: #F7F7F7;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  .tilt .tilt-inner .option .desc button:disabled {
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  .tilt {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 2em;
    background: #fffdff;
    position: relative;
    z-index: 10;
    padding: 10em 2em;
  }
  .tilt .tilt-inner {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15em;
  }
  .tilt .tilt-inner .option {
    width: 20em;
    height: 70vh;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-decoration: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
  }
  .tilt .tilt-inner .option .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 100%;
    z-index: 50;
  }
  .tilt .tilt-inner .option:hover {
    width: 40em;
  }
  .tilt .tilt-inner .option:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
  }
  .tilt .tilt-inner .option:nth-child(1) {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  .tilt .tilt-inner .option:nth-child(1) .img {
    background-image: url(../img/pexels-cottonbro-4107120s.jpg);
  }
  .tilt .tilt-inner .option:nth-child(2) {
    margin: 0 2em;
  }
  .tilt .tilt-inner .option:nth-child(2) .img {
    background-image: url(../img/pexels-ketut-subiyanto-4247770s.jpg);
  }
  .tilt .tilt-inner .option:nth-child(3) {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  .tilt .tilt-inner .option:nth-child(3) .img {
    background-image: url(../img/pexels-athena-2582937s.jpg);
  }
  .tilt .tilt-inner .option .desc {
    height: 100%;
    width: 20em;
    position: absolute;
    top: 0;
    right: 0;
    background: #fffdff;
    padding: 2em;
  }
  .tilt .tilt-inner .option .desc h4 {
    font-size: 3rem;
    font-family: "open sans";
    font-weight: 300;
    z-index: 20;
    color: #111111;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .tilt .tilt-inner .option .desc p {
    font-size: 1rem;
    font-family: "open sans";
    font-weight: 400;
    color: #111111;
  }
  .tilt .tilt-inner .option .desc button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #00000000;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #111111;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    transition: box-shadow .2s,-webkit-transform .1s,transform .1s;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  .tilt .tilt-inner .option .desc button:focus-visible {
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
  }
  .tilt .tilt-inner .option .desc button:active {
    background-color: #F7F7F7;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  .tilt .tilt-inner .option .desc button:disabled {
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .parallax-container {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    z-index: 40;
    background: #111111;
    padding-top: 5em;
  }
  .parallax-container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fffdff;
  }
  .parallax-container .inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
  }
  .parallax-container .inner .parallax {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
    z-index: 5;
  }
  .parallax-container .inner .parallax:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .parallax-container .inner .parallax canvas {
    height: 100% !important;
  }
  .parallax-container .inner .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -ms-grid;
    display: grid;
    place-items: center;
    z-index: 10;
  }
  .parallax-container .inner .text-box h5 {
    font-size: 4rem;
    color: #fffdff;
  }
  .parallax-container .inner .text-box img {
    width: 70%;
    height: auto;
  }
  .parallax-container .inner .text-box .consult {
    font-family: "open sans";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fffdff;
  }
  .parallax-container .inner .text-box .desc {
    font-family: "montserrat";
    font-size: 1.25rem;
    font-weight: 400;
    color: #fffdff;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .parallax-container {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    z-index: 40;
    background: #111111;
    padding-top: 5em;
  }
  .parallax-container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fffdff;
  }
  .parallax-container .inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
            filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.7));
  }
  .parallax-container .inner .parallax {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    z-index: 5;
  }
  .parallax-container .inner .parallax:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .parallax-container .inner .parallax canvas {
    height: 100% !important;
  }
  .parallax-container .inner .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -ms-grid;
    display: grid;
    place-items: center;
    z-index: 10;
  }
  .parallax-container .inner .text-box h5 {
    font-size: 5rem;
    color: #fffdff;
  }
  .parallax-container .inner .text-box img {
    width: 20%;
    height: auto;
  }
  .parallax-container .inner .text-box .consult {
    font-family: "open sans";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
    color: #fffdff;
  }
  .parallax-container .inner .text-box .desc {
    font-family: "montserrat";
    font-size: 1rem;
    font-weight: 400;
    color: #fffdff;
  }
}

@media screen and (max-width: 992px) {
  .team {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: calc(100vh - 5 * 18px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #fffdff;
    position: relative;
    z-index: 10;
    padding: 5em 0;
  }
  .team .members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .team .members article {
    aspect-ratio: 4 / 3;
    width: calc(100% - 2em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 2em 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .team .members article:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: grayscale(100%);
            backdrop-filter: grayscale(100%);
  }
  .team .members article:nth-child(1) {
    background-image: url(../img/pexels-mentatdgt-937481.jpg);
  }
  .team .members article:nth-child(2) {
    background-image: url(../img/pexels-andrea-piacquadio-712513.jpg);
  }
  .team .members article h3 {
    font-size: 1.25rem;
    font-family: "open sans";
    font-weight: 600;
    color: white;
  }
  .team .members article p {
    font-size: 1rem;
    font-family: "montserrat";
    font-weight: 400;
    color: white;
  }
}

@media screen and (min-width: 992px) {
  .team {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: calc(100vh - 5 * 18px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #fffdff;
    position: relative;
    z-index: 10;
    padding: 10em 0;
  }
  .team .heading {
    text-align: center;
    margin: 0 0 5em 0;
    color: #111111;
  }
  .team .heading h2 {
    font-size: 1.5rem;
    font-family: "montserrat";
    font-weight: 400;
  }
  .team .heading p {
    font-size: 3rem;
    font-family: "open sans";
    font-weight: 800;
  }
  .team .members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .team .members article {
    aspect-ratio: 4 / 3;
    width: 25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0 2em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .team .members article:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: grayscale(100%);
            backdrop-filter: grayscale(100%);
  }
  .team .members article:nth-child(1) {
    background-image: url(../img/pexels-mentatdgt-937481.jpg);
  }
  .team .members article:nth-child(2) {
    background-image: url(../img/pexels-andrea-piacquadio-712513.jpg);
  }
  .team .members article h3 {
    font-size: 1.25rem;
    font-family: "open sans";
    font-weight: 600;
    color: white;
  }
  .team .members article p {
    font-size: 1rem;
    font-family: "montserrat";
    font-weight: 400;
    color: white;
  }
}

@media screen and (max-width: 992px) {
  footer {
    width: 100%;
    height: 10em;
    padding: 0 2em;
    background: #fffdff;
    z-index: 9999999999;
    position: relative;
  }
  footer .footer-inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #000;
    padding: 1em 1em;
  }
  footer .footer-inner p, footer .footer-inner a {
    font-family: montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    color: #000;
    text-decoration: none;
  }
  footer .footer-inner img {
    height: 50%;
    width: auto;
  }
  footer .footer-inner h1 {
    margin: 0.25em 0;
  }
  footer .footer-inner a {
    position: relative;
    overflow: hidden;
  }
  footer .footer-inner a:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    left: -100%;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background: #000;
  }
  footer .footer-inner a:hover:after {
    background: #ff2828;
    left: 0;
  }
}

@media screen and (min-width: 992px) {
  footer {
    width: 100%;
    height: 5em;
    padding: 0 2em;
    background: #fffdff;
    z-index: 9999999999;
    position: relative;
  }
  footer .footer-inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #000;
    padding: 0 1em;
  }
  footer .footer-inner h1 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  footer .footer-inner img {
    height: 80%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  footer .footer-inner p, footer .footer-inner a {
    font-family: montserrat;
    font-size: 1.25rem;
    font-weight: 400;
    color: #000;
    text-decoration: none;
  }
  footer .footer-inner a {
    position: relative;
    overflow: hidden;
  }
  footer .footer-inner a:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    left: -100%;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background: #000;
  }
  footer .footer-inner a:hover:after {
    background: #ff2828;
    left: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  font-size: 16px;
}

body.menu-open {
  overflow: hidden;
}

.wrap {
  width: 100%;
  overflow-x: hidden;
  background: #fffdff;
}

.jr {
  font-family: Comforter;
  font-size: 2.5rem;
  font-weight: 100;
}

.heading {
  text-align: center;
  margin: 0 0 5em 0;
  color: #111111;
}

.heading h2 {
  font-size: 1.5rem;
  font-family: "montserrat";
  font-weight: 400;
}

.heading p {
  font-size: 3rem;
  font-family: "open sans";
  font-weight: 800;
}

@media screen and (max-width: 992px) {
  .heading {
    text-align: center;
    margin: 0 0 5em 0;
    color: #111111;
  }
  .heading h2 {
    font-size: 1rem;
    font-family: "montserrat";
    font-weight: 400;
  }
  .heading p {
    font-size: 2rem;
    font-family: "open sans";
    font-weight: 800;
  }
}
/*# sourceMappingURL=style.css.map */