@media screen and (max-width: 992px) {
  .tilt {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 2em;
    background: #fffdff;
    position: relative;
    z-index: 10;
    padding: 3em 0 5em 0;
  }
  .tilt .scroller {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-gap: 2em;
    overflow-x: auto;
    -ms-scroll-snap-type: inline mandatory;
        scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1em;
    padding: 1em;
  }
  .tilt .scroller > * {
    scroll-snap-align: start;
  }
  .tilt .scroller:before {
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    right: 0;
  }
  .tilt .scroller:after {
    position: absolute;
    height: 100%;
    width: 10%;
    background: -webkit-gradient(linear, right top, left top, from(#00000000), to(#ffffff));
    background: linear-gradient(to left, #00000000, #ffffff);
    top: 0;
    left: 0;
  }
  .tilt .scroller::-webkit-scrollbar {
    display: none;
    height: 10px;
    z-index: 9999999;
  }
  .tilt .scroller .arrow {
    display: none;
  }
  .tilt .scroller article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fffdff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2em 1em;
    border-radius: 0.5em;
    border: 1px solid #111111;
  }
  .tilt .scroller article div:nth-child(1) {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2em;
  }
  .tilt .scroller article div:nth-child(1) i {
    font-size: 3rem;
    color: #111111;
  }
  .tilt .scroller article div:nth-child(2) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-family: "montserrat";
  }
  .tilt .scroller article div:nth-child(2) h3 {
    font-size: 1rem;
    color: #111111;
    font-weight: bold;
    text-align: start;
    margin-bottom: 0.5em;
  }
  .tilt .scroller article div:nth-child(2) p {
    font-size: 1rem;
    color: #111111;
  }
  .tilt #scroll-indicator {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 5em 0;
    text-align: center;
  }
  .tilt #scroll-indicator h3 {
    font-family: "open sans";
    font-size: 1.5rem;
    font-weight: 400;
  }
  .tilt .tilt-inner {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tilt .tilt-inner .option {
    width: 90%;
    height: 70vh;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-decoration: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
            box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
    margin: 2em 0;
  }
  .tilt .tilt-inner .option .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .tilt .tilt-inner .option:hover .desc {
    z-index: 60;
  }
  .tilt .tilt-inner .option:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
  }
  .tilt .tilt-inner .option:nth-child(1) .img {
    background-image: url(../img/pexels-cottonbro-4107120s.jpg);
  }
  .tilt .tilt-inner .option:nth-child(2) {
    margin: 0 2em;
  }
  .tilt .tilt-inner .option:nth-child(2) .img {
    background-image: url(../img/pexels-ketut-subiyanto-4247770s.jpg);
  }
  .tilt .tilt-inner .option:nth-child(3) .img {
    background-image: url(../img/pexels-athena-2582937s.jpg);
  }
  .tilt .tilt-inner .option .desc {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(17, 17, 17, 0.8);
    padding: 2em;
  }
  .tilt .tilt-inner .option .desc h4 {
    font-size: 3rem;
    font-family: "open sans";
    font-weight: 300;
    z-index: 20;
    color: #fffdff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .tilt .tilt-inner .option .desc p {
    font-size: 1rem;
    font-family: "open sans";
    font-weight: 400;
    color: #fffdff;
  }
  .tilt .tilt-inner .option .desc button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #00000000;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #111111;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    transition: box-shadow .2s,-webkit-transform .1s,transform .1s;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  .tilt .tilt-inner .option .desc button:focus-visible {
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
  }
  .tilt .tilt-inner .option .desc button:active {
    background-color: #F7F7F7;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  .tilt .tilt-inner .option .desc button:disabled {
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  .tilt {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: #fffdff;
    position: relative;
    z-index: 10;
    padding: 10em 2em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tilt .scroller {
    width: 80vw;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    overflow-x: auto;
    -ms-scroll-snap-type: inline mandatory;
        scroll-snap-type: inline mandatory;
    scroll-padding-inline: 3em;
  }
  .tilt .scroller > * {
    scroll-snap-align: start;
  }
  .tilt .scroller:before {
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    right: 0;
  }
  .tilt .scroller:after {
    position: absolute;
    height: 100%;
    width: 10%;
    background: -webkit-gradient(linear, right top, left top, from(#00000000), to(#ffffff));
    background: linear-gradient(to left, #00000000, #ffffff);
    top: 0;
    left: 0;
  }
  .tilt .scroller::-webkit-scrollbar {
    display: block;
    height: 10px;
    z-index: 9999999;
  }
  .tilt .scroller::-webkit-scrollbar-track {
    background: #fffdff;
  }
  .tilt .scroller::-webkit-scrollbar-thumb {
    background: #111111;
    border-radius: 0.5em;
  }
  .tilt .scroller .arrow {
    position: absolute;
    top: 54%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .tilt .scroller .arrow.scroll-right {
    right: 4em;
  }
  .tilt .scroller .arrow.scroll-left {
    left: 4em;
  }
  .tilt .scroller .arrow.hidden {
    opacity: 0;
  }
  .tilt .scroller .arrow i {
    -webkit-text-stroke: 0.2rem #fffdff;
    font-size: 5rem;
    color: #111111;
  }
  .tilt .scroller article {
    max-width: 700px;
    width: 34vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #fffdff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2em 1em;
    border-radius: 0.5em;
    border: 1px solid #111111;
    margin: 3em 3em 8em 3em;
  }
  .tilt .scroller article div:nth-child(1) {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tilt .scroller article div:nth-child(1) i {
    font-size: 4rem;
    color: #111111;
  }
  .tilt .scroller article div:nth-child(2) {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-family: "montserrat";
  }
  .tilt .scroller article div:nth-child(2) h3 {
    font-size: 1.5rem;
    color: #111111;
    font-weight: bold;
    text-align: start;
    margin-bottom: 0.5em;
  }
  .tilt .scroller article div:nth-child(2) p {
    font-size: 1.5rem;
    color: #111111;
  }
  .tilt .tilt-inner {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15em;
  }
  .tilt .tilt-inner .option {
    width: 20em;
    height: 70vh;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-decoration: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
  }
  .tilt .tilt-inner .option .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 100%;
    z-index: 50;
  }
  .tilt .tilt-inner .option:hover {
    width: 40em;
  }
  .tilt .tilt-inner .option:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
  }
  .tilt .tilt-inner .option:nth-child(1) {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  .tilt .tilt-inner .option:nth-child(1) .img {
    background-image: url(../img/pexels-cottonbro-4107120s.jpg);
  }
  .tilt .tilt-inner .option:nth-child(2) {
    margin: 0 2em;
  }
  .tilt .tilt-inner .option:nth-child(2) .img {
    background-image: url(../img/pexels-ketut-subiyanto-4247770s.jpg);
  }
  .tilt .tilt-inner .option:nth-child(3) {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  .tilt .tilt-inner .option:nth-child(3) .img {
    background-image: url(../img/pexels-athena-2582937s.jpg);
  }
  .tilt .tilt-inner .option .desc {
    height: 100%;
    width: 20em;
    position: absolute;
    top: 0;
    right: 0;
    background: #fffdff;
    padding: 2em;
  }
  .tilt .tilt-inner .option .desc h4 {
    font-size: 3rem;
    font-family: "open sans";
    font-weight: 300;
    z-index: 20;
    color: #111111;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .tilt .tilt-inner .option .desc p {
    font-size: 1rem;
    font-family: "open sans";
    font-weight: 400;
    color: #111111;
  }
  .tilt .tilt-inner .option .desc button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #00000000;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #111111;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    transition: box-shadow .2s,-webkit-transform .1s,transform .1s;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  .tilt .tilt-inner .option .desc button:focus-visible {
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
  }
  .tilt .tilt-inner .option .desc button:active {
    background-color: #F7F7F7;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  .tilt .tilt-inner .option .desc button:disabled {
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
  .tilt #scroll-indicator {
    display: none;
  }
}
/*# sourceMappingURL=tilt.css.map */